<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h1><%= title %></h1>
  <dvi id="right-box" style="float: right; width: 700px; height: 750px; border: 1px dashed #333333; margin-right: 30px;">
  <iframe src="pdf/sample.pdf" width="100%" height="100%"></iframe>
  </dvi>
  <div class="btn-group" style="margin-left: 10px;">
    <button id="save" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
    <dvu class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">構文<span class="caret"></span></button> 
      <ul class="dropdown-menu" id="koubun">
        <button id="table-of-contents" class="btn btn-default">目次あり</button>
      </ul>
    </dvu>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">見出し<span class="caret"></span></button>
      <ul class="dropdown-menu" id="midashi">
      <button id="section" class="btn btn-default">\section</button>
      <button id="subsection" class="btn btn-default">\subsection</button>
      <button id="subsubsection" class="btn btn-default">\subsubsection</button>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">箇条<span class="caret"></span></button>
      <ul class="dropdown-menu" id="kajyo">
        <button id="itemize" class="btn btn-default">記号付き</button>
        <button id="enumerate" class="btn btn-default">番号付き</button>
        <button id="description" class="btn btn-default">見出し付き</button>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">数式<span class="caret"></span></button>
      　<ul class="dropdown-menu" id="zu">
          <button id="no_num" class="btn btn-default">数式番号なし</button>
          <button id="equation" class="btn btn-default">数式番号あり</button>
          <button id="frac" class="btn btn-default">分数</button>
          <button id="array" class="btn btn-default">行列</button>
        </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">色<span class="caret"></span></button>
        <ul class="dropdown-menu" id="color">
            <button id="red" class="btn btn-default">赤</button>
            <button id="gree" class="btn btn-default">緑</button>
            <button id="blue" class="btn btn-default">青</button>
        </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">図<span class="caret"></span></button>
        <ul class="dropdown-menu" id="susiki">
            <button id="figure" class="btn btn-default">1枚挿入</button>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">引用<span class="caret"></span></button>
        　<ul class="dropdown-menu" id="inyo">
            <button id="quote" class="btn btn-default">短文の引用</button>
            <button id="quotation" class="btn btn-default">長文の引用</button>
          </ul>
      </div>
  </div>
  <div id="editor" style="height: 720px; width: 650px; margin-left: 10px;"></div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
  <script>
    var editor = ace.edit("editor");
    editor.$blockScrolling = Infinity;
    editor.setOptions({
      enableEmmet: true
    });
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
    $('#save').click(function(e) {
      //alert(editor.getValue());
      $.ajax({
        url: 'http://localhost:3000/editor',
        type: 'post',
        data: {'msg': editor.getValue()},
        dataType: 'json'
      });
    });
    $('#table-of-contents').click(function(e){
      editor.insert(
        '\\documentclass{jsarticle}\n' +
        '\\usepackage[dvipdfmx]{graphicx}\n' +
        '\\setlength{\\textheight}{24cm}\n' +
        '\\setlength{\\topmargin}{-1.5cm}\n' +
        '\\setlength{\\textwidth}{17cm}\n' +
        '\\setlength{\\oddsidemargin}{-.5cm}\n' +
        '\\usepackage{here}\n' +
        '\n' +
        '\n' +
        '\\title{タイトル}\n' +
        '\\author{名前} % 氏名（学番号）\n' +
        '\\date{○年○月○日（○）} % 提出期限 \n' +
        '\n' +
        '\\begin{document}\n' +
        '\\maketitle\n' +
        '\n' +
        '\\tableofcontents\n' +
        '\n' +
        '\\section{はじめに}\n' +
        '\n' +
        '\\end{document}\n'
      );
    });
    $('#section').click(function(e){
      editor.insert('\\section{' + editor.getCopyText() + '}\n');
    });
    $('#subsection').click(function(e){
      editor.insert('\\subsection{' + editor.getCopyText() + '}\n');
    });
    $('#subsubsection').click(function(e){
      editor.insert('\\subsubsection{' + editor.getCopyText() + '}\n');
    });
    $('#itemize').click(function(e){
      editor.insert('\\begin{itemize}\n  \\item' + editor.getCopyText() + '\n\\end{itemize}');
    });
    $('#enumerate').click(function(e){
      editor.insert('\\begin{enumerate}\n  \\item' + editor.getCopyText() + '\n\\end{enumerate}');
    });
    $('#description').click(function(e){
      editor.insert('\\begin{description}\n  \\item[]' + editor.getCopyText() + '\n\\end{description}');
    });
    $('#quote').click(function(e){
      editor.insert('\\begin{quote}\n' + editor.getCopyText() + '\\end{quote}');
    });
    $('#quotation').click(function(e){
      editor.insert('\\begin{quotaiotn}\n' + editor.getCopyText() + '\\end{quotation}');
    });
    $('#figure').click(function(e){
      editor.insert('\\begin{figure}\n' + 
        ' \\begin{center}\n' +
        '  \\includegraphics[オプション]{ファイル名}\n' +
        '  \\caption{タイトル名}\n' +
        '  \\label{ラベル}\n' +
        ' \\end{center}\n' +
        '\\end{quotation}');
    });
    $('#no_num').click(function(e){
      editor.insert('\\[ ' + editor.getCopyText() + '\\]');
    });
    $('#equation').click(function(e){
      editor.insert('\\begin{equation}\n' + editor.getCopyText() + '\\end{equation}');
    });
    $('#frac').click(function(e){
      editor.insert('\\[\n' +
      ' x = \\frac{a}{b}\n' + 
      '\\]');
    });
    $('#array').click(function(e){
      editor.insert('\\[\n' +
      ' A = \\left(\n' + 
      '  \\begin{array}{ccc}\n' +
      '    a & b & c \\\\ \n' +
      '    d & e & f \\\\ \n' +
      '    g & h & i\n' +
      '  \\end{array}\n' +
      ' \\right)\n' +
      '\\]');
    });
    $('#red').click(function(e){
      editor.insert('\\textcolor{red}{' + editor.getCopyText() + '}');
    });
    $('#green').click(function(e){
      editor.insert('\\textcolor{green}{' + editor.getCopyText() + '}');
    });
    $('#blue').click(function(e){
      editor.insert('\\textcolor{blue}{' + editor.getCopyText() + '}');
    });
  </script>
</body>
</html>
