.wrapper {
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  line-height: 1.7;
  background-color: rgb(215, 238, 247);
  position: relative; top: 80px;
}

.post-form {
  margin: 20px 0;
  text-align: center;
}

.label {
  width: 100px;
  font-weight: bold;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    vertical-align: middle;
    border: 3px #ccc solid;
    background-color: #fff;
}

.login-title {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 3px black;
}

.login-btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 15px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.login-btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.error {
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  background-color: #F08080;
}
